 .home {
     display: flex;
     flex-direction: column;
     /* margin-top: 400px; */
     align-content: space-between;
 }
 
 .homecontainer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 20px;
 }
 
 .home-elements {
     display: flex;
     justify-content: end;
     align-items: end;
 }