.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 190, 183);
    height: 95vh;
    width: 100%;
}

.signupform {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    background-color: rgb(222, 225, 228);
    width: 20vw;
    height: 72vh;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

.signupform input {
    width: 70%;
    margin-left: 40px;
}

.signupform button {
    width: 30%;
    margin-left: 95px;
    border-radius: 15px;
}