.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 243, 237);
    height: 95vh;
    width: 100%;
}

.signupform {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    background-color: #FFFFFF;
    ;
    width: 20vw;
    height: 79vh;
    margin-top: 8px;
    text-align: left;
    border-radius: 10px;
    font-family: 'serif';
}

.signupform input {
    width: 70%;
    margin-left: 20px;
}

.signupform button {
    width: 30%;
    margin-left: 95px;
    border-radius: 15px;
}