.header {
    background-color: rgb(48, 98, 155);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /* margin-right: 40%; */
    /* margin-top: 150px; */
    height: 10vh;
    font-size: large;
    padding: 30px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: -70px;
}

a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    gap: 20px;
    color: rgb(236, 236, 243);
}

a:hover {
    color: rgb(0, 255, 221);
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: -20px;
    color: rgb(10, 10, 10);
    /* border-radius: 50%; */
}